<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="$!{Site.Desc}" />

    <link rel="shortcut icon" href="/static/img/logo.png" />
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css?v=$!{AppVer}" rel="stylesheet" />
    <link href="/static/css/grice.css?v=$!{AppVer}" rel="stylesheet" />

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js?v=$!{AppVer}"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/emojify.js/0.9.5/emojify.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/highlight.js/8.7/highlight.min.js"></script>

    <script type="text/javascript" src="/static/js/peach.js?v=$!{AppVer}"></script>

    <title>${Title}</title>

</head>
<body>
