#include('./header.html', {title : title + " - " + lang('name')})
<div class="ui inverted vertical center aligned segment">
	#include('./navbar.html')
</div>
<div class="ui grid documentation container">
	<div class="four wide column">
		<div class="ui vertical menu nav-menus">
			#if(null != nodes)
			<div class="ui styled fluid accordion">
				#for(node : nodes)
				<div class="title">
				    <i class="#if(!node.plain)dropdown#end icon"></i>
				    ${node.title}
				</div>
				<div class="content">
					#if(null != node.docs)
					<div class="transition hidden menu">
				    	#for(doc : node.docs)
				    	#if(null != doc.title)
				    	<a class="item" href="/docs/${node.name}/${doc.name}">${doc.title}</a>
				    	#end
				    	#end
				    </div>
					#end
				</div>
				#end
			</div>
			#end
		</div>
	</div>
	<div class="twelve wide column">
		<div id="article" class="ui markdown segment">${content}</div>
		#if(extension.enableDuoShuo)
		#include('./duoshuo.html')
		#end
	</div>
</div>
#include('./footer.html')
</body>
</html>
