<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">${lang("footer.about")}</h4>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/biezhi/blade">Blade</a>
          <a class="item" href="//semantic-ui.com/">Semantic UI</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">${lang("footer.project")}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/docs" >${lang("footer.documentation")}</a>
          <a class="item" href="https://github.com/biezhi/grice/issues">${lang("footer.submit_issue")}</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header"></h4>
        <p></p>
      </div>
    <div class="row">
      <div class="center column">
      	${lang("copyright")}
      </div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/highlight.js/8.7/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/grice.js?v=$!{version}"></script>