<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="$!{site.desc}" />
    <meta name="author" content="biezhi" />
    <link rel="shortcut icon" href="/static/img/logo.png" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css?v=$!{version}" />
    <link rel="stylesheet" href="/static/css/grice.css?v=$!{version}" />
	<link rel="stylesheet" href="/static/css/github.css?v=$!{version}">
	<link rel="stylesheet" href="/static/css/my.css?v=$!{version}" />
    <title>$!{title}</title>
</head>
<body>