#include('./header.html', {title : lang('name') + " - " + lang('tag_line') })

<div class="ui inverted vertical masthead center aligned segment">
    #include('./navbar.html')
    <div class="ui text container banner">
        <img src="/static/img/banner.png"/>
        <h2>${lang("home.tag_line")}</h2>

        <a class="ui huge inverted blue basic animated button" tabindex="0" href="/docs">
            <div class="visible content">&nbsp;&nbsp;&nbsp;&nbsp;${lang("home.get_started")}&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </a>
		
        <div id="github-stats">
            <iframe id="github-star" src="" allowtransparency="true" frameborder="0" scrolling="0" ></iframe>
            <iframe id="github-fork" src="" allowtransparency="true" frameborder="0" scrolling="0" ></iframe>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui aligned stackable three column grid container">
        <div class="column">
            <h3 class="ui header">
                <i class="leaf icon"></i> ${lang("home.lightweight")}
            </h3>
            <p>${lang("home.lightweight_desc")}</p>
        </div>
        <div class="column">
            <h3 class="ui header">
                <i class="rocket icon"></i> ${lang("home.real_time")}
            </h3>
            <p>${lang("home.real_time_desc")}</p>
        </div>
        <div class="column">
            <h3 class="ui header">
                <i class="cubes icon"></i> ${lang("home.searchable")}
            </h3>
            <p>${lang("home.searchable_desc")}</p>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui aligned stackable two column grid container">
        <div class="column">
            <h3 class="ui header">
                <i class="code icon"></i> ${lang("home.minimal_example")}
            </h3>
            <div class="markdown">
		  	<pre><code class="lang-java hljs"><span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Application</span> </span>{

    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
        $().get(<span class="hljs-string">"/"</span>, (request, response) -&gt; {
            response.html(<span class="hljs-string">"&lt;h1&gt;Hello blade!&lt;/h1&gt;"</span>);
        }).start(Application.class);
    }
}
</code></pre>
            </div>
        </div>
        <div class="column">
            <h3 class="ui header">
                <i class="cubes icon"></i> ${lang("home.return_json")}
            </h3>
            <div class="markdown">
			<pre><code class="lang-java hljs"><span class="hljs-annotation">@Route</span>(value = <span class="hljs-string">"users"</span>, method = HttpMethod.GET)
<span class="hljs-annotation">@JSON</span>
<span class="hljs-keyword">public</span> List&lt;User&gt; users(){
    List&lt;User&gt; users = <span class="hljs-keyword">new</span> ArrayList<>();
    users.add(<span class="hljs-keyword">new</span> User(<span class="hljs-string">"jack"</span>, <span class="hljs-number">20</span>));
    users.add(<span class="hljs-keyword">new</span> User(<span class="hljs-string">"rose"</span>, <span class="hljs-number">18</span>));
    <span class="hljs-keyword">return</span> users;
}
</code></pre>
            </div>
        </div>

        <div class="column">
            <h3 class="ui header">
                <i class="newspaper icon"></i> ${lang("home.interceptor")}
            </h3>
            <div class="markdown">
			<pre><code class="lang-java hljs"><span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{

    $().before(<span class="hljs-string">"/.*"</span>, (request, response) -&gt; {
        System.out.println(<span class="hljs-string">"before..."</span>);
    }).start(Application.class);

}
</code></pre>
            </div>
        </div>
        <div class="column">
            <h3 class="ui header">
                <i class="world icon"></i> ${lang("home.restful")}
            </h3>
            <div class="markdown">
			<pre><code class="lang-java hljs"><span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> </span>{
    $().get(<span class="hljs-string">"user/:uid"</span>, (request, response) -&amp;gt; {
        Integer uid = request.paramAsInt(<span class="hljs-string">"uid"</span>);
        response.text(<span class="hljs-string">"uid : "</span> + uid);
    }).start(Application.class);
}

</code></pre>
            </div>
        </div>
    </div>
</div>
#include('./footer.html')
<script type="text/javascript">
    (function() {
        function async_load(){
            var s = document.getElementById('github-star');
            s.src = 'https://ghbtns.com/github-btn.html?user=biezhi&repo=blade&type=star&count=true';
            var f = document.getElementById('github-fork');
            f.src = 'https://ghbtns.com/github-btn.html?user=biezhi&repo=blade&type=fork&count=true';
        }
        if (window.attachEvent)
            window.attachEvent('onload', async_load);
        else
            window.addEventListener('load', async_load, false);
    })();
</script>
</body>
</html>